h1{
    display: block;
    color:darkred;
    margin: 25px 0px;
    text-align: center;
}
h2{
    display: block;
    color:darkblue;
    margin: 25px 0px;
    text-align: center;
}
h3{
    display: block;
    color:brown;
    margin: 25px 0px;
}
a{
    text-decoration: none;
}
button{
    display: block;
    padding: 8px 15px;
    margin: 15px 0px;
    text-align: center;
}
.imagem_app{
    display: block;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}
